<div id="sidebar-wrapper">
    <div class="slimscrollsidebar">
  <nav>
    <ul class="nav sidebar-nav">
      <li>
        <a [routerLink]="['/']">    
            <i class="fa fa-home" aria-hidden="true"></i><span> {{ "home" | translate }}</span>
          </a>
      </li>
      <li>
        <a [routerLink]="['/agenda']">    
            <i class="fa fa-list-alt" aria-hidden="true"></i><span> {{ "agenda" | translate }}</span>
          </a>
      </li>

      <li>
        <a [routerLink]="['/patientListing']" id="btn-1">  
              <i class="fa fa-user-md" aria-hidden="true"></i><span>{{ "patient" | translate }}</span>
        </a>
            
        <!-- <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
          <li><a href="#">Jonathan Spray</a></li>
          <li><a href="#">Rosario Lyons </a></li>
          <li><a href="#">Nathan Easter</a></li>
          <li><a href="#">Nick Jay</a></li>
          <li><a href="#">Rodrigo Winchenbach</a></li>
          <li><a href="#">Joey Rape</a></li>
          <li><a href="#">Zachary Pinney</a></li>
        </ul> -->
      </li>
      <!-- <li>
          <a [routerLink]="['/contactlens']">    
              <i class="fa fa-list-alt" aria-hidden="true"></i><span>Contact Lens</span>
            </a>
        </li>
        

      <li>
        <a href="#" id="btn-2" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">
              <i class="fa fa-clipboard" aria-hidden="true"></i><span>Inventory</span></a>
        <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-2">
          <li><a href="#">Frame</a></li>
          <li><a href="#">Ophtalmic Lens</a></li>
          <li><a href="#">Contact Lens</a></li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i><span>Invoice</span></a> </li>
      <li> <a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i><span>Statistics</span></a> </li>
      <li> <a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span>Master Setting</span></a> </li>
      <li> <a href="#"><i class="fa fa-unlock-alt" aria-hidden="true"></i><span>Password</span></a> </li> -->

    </ul>
  </nav>
    </div>
</div>