@charset "utf-8";
/* CSS Document */


 @media only screen and (max-width: 991px) {
body { overflow-x: hidden; }
.login_container .container { width: 100%; }
.login_wrapper { width: 100%; padding: 40px 15px; }
.wrapper { webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; padding-left: 0px; }
.toggle.wrapper { webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; padding-left: 0px; }
#page-content-wrapper { webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; transform: translate(0px); -moz-transform: translate(0px); -webkit-transform: translate(0px); -o-transform: translate(0px); }
.toggle.wrapper #page-content-wrapper { webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; transform: translate(245px); -moz-transform: translate(245px); -webkit-transform: translate(245px); -o-transform: translate(245px); }
#sidebar-wrapper { -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; transform: translate(-245px); -moz-transform: translate(-245px); -webkit-transform: translate(-245px); -o-transform: translate(-245px); }
.toggle #sidebar-wrapper { -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; transform: translate(0px); -moz-transform: translate(0px); -webkit-transform: translate(0px); -o-transform: translate(0px); }
.ham { margin: 0 10px 0 0; float: right; top: 8px; }
}
 @media only screen and (max-width: 767px) {
.slider_section { margin: 20px 0; }
.login_form { margin: 0px 0px 20px; }
.login_wrapper { width: 100%; padding: 40px 25px; }
.carousel-inner img { width: 100%; }
}
 @media only screen and (max-width: 667px) {
.carousel_text { display: none; }
.header_logo { width: 115px; }
header { padding: 7px 0 7px 115px; }
.user-btn img, .user-btn span { display: none; }
.check-header .fa-user-o { display: inline-block; padding: 9px 5px 9px 15px; }
.noti { margin-right: 0px; }
}
 @media only screen and (max-width: 414px) {
.login_wrapper { width: 100%; padding: 40px 15px; }
.noti a.ic { padding: 13px 8px; }
.select_language span { display: none; }
.select_language { padding: 16px 10px 9px 10px; }
.dot { right: 3px; }
.ham { width: 26px; }
}
